.cita-cont {
  width: 499px;
  min-height: 64px;
  background-color: greenyellow;
  margin: 4px 0;
  padding: 7px 14px 7px 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
}

/*estilo cita-texto: overflow-wrap hace saltos de linea si el texto es muy largo*/
.cita-texto {
  width: 99%;
  height: 99%;
  font-size: 19px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.cita-icono {
  width: 24px;
  height: 24px;
  margin: 4px;
}

/*estilo agendada*/

.cita-cont.agendada {
  background-color: #5a01a4;
  text-decoration: line-through;
}
