/*estilo formulario*/

.cita-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1em;
} 

ul {
  margin: 0;
  padding: 0;
}

form li + li {
  margin-top: 1em;
}

.form-boton {
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-boton:hover {
  font-size: larger;
}