/*estilo cont-form*/

.cont-form {
  width: 1171px;
  height: 250px;
  margin: 0px auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

ul {
  margin: 0;
  padding: 0;
}

form li + li {
  margin-top: 1em;
}

.form-boton {
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-boton:hover {
  font-size: larger;
}