/*estilos cont-home*/
/*vh hace que el contenedor ocupe toda la pantalla*/

.cont-home {
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*estilos cont-princ*/

.cont-princ {
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1px 0px;
}

h2 {
  text-align: center;
  justify-content: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 2px 0;
}