.cont-intro {
  width: 1171px;
  height: 250px;
  margin: 0px auto ;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 5px 2px gray;
}

.img-intro {
  height: 100%;
  width: auto;
}

.cont-texto-intro {
  width: 100%;
  font-size: 14px;
  text-align: center;
  padding: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mision {
  font-size: 1.4rem;
  margin: 10px;
  padding-bottom: 29px;
}

.texto-mision {
  font-size: 1.1rem;
  text-align: justify;
}
