/*estilos del boton iniciar cesion*/

.boton-iniciarCesion {
  font-family: Arial, Helvetica, sans-serif;
}

.boton-iniciarCesion:hover {
  cursor: pointer;
  font-size: larger;
}

.cont-login {
  width: 1171px;
  height: 250px;
  margin: 0px auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}